{% extends 'base.html.twig' %}

{% block title %}Mon profil | {{ parent() }}{% endblock %}

{% block body %}
    <div id="container">
        <div id="detailsParticipant">
            {% if app.user.id == participant.id or is_granted("ROLE_ADMIN")%}
                <div id="imgParticipant">
                    {% if participant.photo %}
                        <img src="{{ asset('uploads/' ~ participant.photo) }}">
                    {% endif %}
                </div>
                <h2>Informations:</h2>

                <div id="infosParticipant">
                    <table id="tableInfos">
                        <tbody>
                        <tr>
                            <td>Nom: </td>
                            <td>{{ participant.nom }}</td>
                        </tr>
                        <tr>
                            <td>Prenom: </td>
                            <td>{{ participant.prenom }}</td>
                        </tr>
                        {% if app.user.id == participant.id %}
                            <tr>
                                <td>Pseudo:</td>
                                <td>{{ participant.username }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Telephone:</td>
                            <td>{{ participant.telephone }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ participant.mail}}</td>
                        </tr>
                        <tr>
                            <td>Campus:</td>
                            <td>{{ participant.campus.nom}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{{ path('participant_update', {'id':participant.id}) }}">
                        <button class="btn btn-primary">Modifier les infos</button>
                    </a>
                    <a href="{{ path('sortie_search') }}"><button class="btn btn-info">Retour</button></a>
                </div>

            {% else %}
                <h2>{{ participant.username }}</h2>

                <div id="infosParticipant">
                    <table id="tableInfos">
                        <tbody>
                            <tr>
                                <td>Pseudo:</td>
                                <td>{{ participant.username }}</td>
                            </tr>
                            <tr>
                                <td>Campus:</td>
                                <td>{{ participant.campus.nom}}</td>
                            </tr>
                            <tr>
                                <td>Telephone ENI:</td>
                                <td>0123456789</td>
                            </tr>
                            <tr>
                                <td>Contact ENI:</td>
                                <td>contact.sortie@eni.fr</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{{ path('sortie_search') }}"><button class="btn btn-info">Retour</button></a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
