{% extends 'base.html.twig' %}

{% block title %}Mon profil | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Mon profil:</h2>

    <div id="infosParticipant">
        <table>
            <tbody>
            <tr>
                <td>Nom: </td>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <td>Prenom: </td>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <td>Pseudo:</td>
                <td>{{ participant.username }}</td>
            </tr>
            <tr>
                <td>Telephone:</td>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ participant.mail}}</td>
            </tr>
            <tr>
                <td>Ma photo:</td>
                <td>TODO: upload img</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('participant_update', {'id':participant.id}) }}"><button>Modifier mes infos</button></a>

        <p> debug, à supprimer <br/>
            Admin: {{ participant.administrateur}} <br/>
            Actif: {{ participant.actif}} <br/>
        </p>

    </div>


{% endblock %}
