{% extends 'base.html.twig' %}

{% block title %}UpdatePassword | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Update Password</h1>

    {{ form_start(registrationForm) }}

    {{ form_widget(registrationForm) }}
    <button type="submit" class="btn btn-success">Update</button>

    {{ form_end(registrationForm) }}
    <a href="{{ path('participant_details', {'id':participant.id}) }}"><button class="btn btn-info">Retour</button></a>
{% endblock %}
