{% extends 'base.html.twig' %}

{% block title %}Update | {{ parent() }}{% endblock %}

{% block body %}

    {% if app.user.id == participant.id %}
        <h1>Update</h1>
        {{ form_start(registrationForm) }}

        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn">Update</button>

        {{ form_end(registrationForm) }}
        <a href="{{ path('participant_updatePassword',{'id':participant.id}) }}"><button>Modifier mot de passe</button></a> <br/>
        <a href="{{ path('participant_details', {'id':participant.id}) }}"><button>Retour</button></a>
    {% else %}
        <h2>Erreur de navigation</h2>
        <a href="{{ path('sortie_search')}}"><button>Retour</button></a>
    {% endif %}

{% endblock %}
