{% extends 'base.html.twig' %}

{% block body %}
    <h2 style="text-align: center">Annuler une sortie</h2>
    <div>
        Nom de la sortie: {{ sortieAnnulee.nom }} <br><br>
        Date de la sortie: {{ sortieAnnulee.dateHeureDebut|date('d/m/Y') }} <br><br>
        Campus: {{ sortieAnnulee.campusOrganisateur.nom }} <br><br>
        Lieu: {{ sortieAnnulee.sortieLieu.rue }}, {{ sortieAnnulee.sortieLieu.lieuVille.codePostal }}, {{ sortieAnnulee.sortieLieu.lieuVille.nom }}
        <br><br>
        {{ form_start(annuleeSortieForm) }}
        {{ form_label(annuleeSortieForm.motifAnnulation) }}
        {{ form_errors(annuleeSortieForm.motifAnnulation) }}
        {{ form_widget(annuleeSortieForm.motifAnnulation) }}

        <button type="submit" class="btn btn-danger">Valider</button>
        {{ form_end(annuleeSortieForm) }}
    </div>
{% endblock %}

{% block title %}
    Annuler une sortie | {{ parent() }}
{% endblock %}

