{% extends 'base.html.twig' %}

{% block title %}
    Créer une nouvelle sortie
{% endblock %}

{% block body %}

    <div id="formCreate" class="main-create">
        <h1>Créer une sortie</h1>
        {{ form_start(sortieForm) }}
        <div class="createSortie">
            <div class="create-bloc1">
                <div>
                    {{ form_label(sortieForm.nom) }}
                    {{ form_errors(sortieForm.nom) }}
                    {{ form_widget(sortieForm.nom) }}
                </div>
                <div>
                    {{ form_label(sortieForm.dateHeureDebut) }}
                    {{ form_errors(sortieForm.dateHeureDebut) }}
                    {{ form_widget(sortieForm.dateHeureDebut) }}
                </div>
                <div>
                    {{ form_label(sortieForm.dateLimiteInscription) }}
                    {{ form_errors(sortieForm.dateLimiteInscription) }}
                    {{ form_widget(sortieForm.dateLimiteInscription) }}
                </div>
                <div>
                    {{ form_label(sortieForm.nbInscriptionsMax) }}
                    {{ form_errors(sortieForm.nbInscriptionsMax) }}
                    {{ form_widget(sortieForm.nbInscriptionsMax) }}
                </div>
                <div>
                    {{ form_label(sortieForm.duree) }}
                    {{ form_errors(sortieForm.duree) }}
                    {{ form_widget(sortieForm.duree) }}
                </div>
                <div>
                    {{ form_label(sortieForm.infosSortie) }}
                    {{ form_errors(sortieForm.infosSortie) }}
                    {{ form_widget(sortieForm.infosSortie) }}
                </div>
            </div>
            <div class="create-bloc2">
                <div>
                    {{ form_label(sortieForm.campusOrganisateur) }}
                    {{ form_errors(sortieForm.campusOrganisateur) }}
                    {{ form_widget(sortieForm.campusOrganisateur) }}
                </div>
                <div>
                    {{ form_label(sortieForm.sortieVille) }}
                    {{ form_errors(sortieForm.sortieVille) }}
                    {{ form_widget(sortieForm.sortieVille) }}
                </div>
                <div>
                    {{ form_label(sortieForm.sortieLieu) }}
                    {{ form_errors(sortieForm.sortieLieu) }}
                    {{ form_widget(sortieForm.sortieLieu) }}
                </div>
            </div>
            {% block javascripts %}
                <script lang= "javascript"
                        src = "https://code.jquery.com/jquery-3.2.1.min.js"></script>
                <script lang= "javascript"
                        src = {{ asset('js/app_create.js') }}></script>
            {% endblock %}

        </div>
            <div class="create-bloc3">
                <a href="{{ path('create_sortieForm') }}">
                    <button type="submit" class="btn btn-lg btn-primary , boutonSortie" value="create" name="bouton_creer">Créer</button>
                </a>
                <a href="{{ path('create_sortieForm') }}">
                    <button type="submit" class="btn btn-lg btn-success , boutonSortie" value="publish" name="bouton_creer">Publier</button>
                </a>
                 <a href="#">
                    <button type="reset" class="btn btn-lg btn-danger , boutonSortie" value="Cancel">Annuler</button>
                </a>

            </div>
            {{ form_end(sortieForm) }}


    </div>
{% endblock %}



