{% extends 'base.html.twig' %}

{% block title %}
    Créer une nouvelle sortie
{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.sortieLieu) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.infosSortie) }}
        <div>
            <input type="submit" class="btn btn-success" value="Enregistrer la nouvelle sortie">
        </div>
        {{ form_end(sortieForm) }}


        {# Pour plus tard<div>
            <a href="{{ path('lieu_search') }}">
                <button>Ajouter un nouveau lieu</button>
            </a>
        </div>#}
    </div>
{% endblock %}



