{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <div>
        <h3 style="float: right">Date du jour : {{ "now"|date("d/m/Y") }}<br>
            Participant : {{ app.user.username }}
        </h3>
    </div>
    <div class="form-listSerie">
        {% include 'sortie/searchOptions.html.twig' with {searchSortiesForm:searchSortiesForm} only%}
    </div>
   <table>
       <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
       </thead>
       <tbody>
        {% for sortie in sorties %}
            {% set inscritBool = false %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription|date("d/m/Y H:i") }}</td>
                <td>{{ sortie.participantInscrit.count }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% for inscrit in sortie.participantInscrit %}
                        {% if inscrit.username == app.user.username %}
                            X
                            {% set inscritBool = true %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="{{ path('participant_details', {'id': sortie.participantOrganisateur.id}) }}">{{ sortie.participantOrganisateur.username }}</a></td>
                <td>
                    {% if app.user.username == sortie.participantOrganisateur.username %}
                        {% if sortie.etat.id != '6' and sortie.etat.id != '5' %}
                            <a href="#" title="Modifier sortie">Modifier</a>
                            - <a href="{{ path('sortie_annulation', {'idSortie': sortie.id}) }}" title="Annuler sortie">Annuler</a>
                        {% endif %}
                    {% else%}
                        {% if sortie.etat.id != '5' %}
                        <a href="{{ path('sortie_detail', {'idSortie': sortie.id}) }}" title="Afficher sortie">Afficher</a>
                        {% endif %}
                    {% endif %}

                    {% if inscritBool == true and (sortie.etat.id != '5' and sortie.etat.id != '6') %}
                        - <a href="{{ path('sortie_se_desister', {'idSortie':sortie.id, 'idParticipant':app.user.id}) }}" title="Se desister sortie">Se désister</a>
                    {% elseif sortie.etat.id != '5' and sortie.etat.id != '6' and sortie.etat.id != '3' %}
                        - <a href="{{ path('sortie_inscription', {'idSortie':sortie.id, 'idParticipant':app.user.id}) }}" title="S'incrire sortie">S'inscrire</a>
                    {% endif %}

                    {% if sortie.participantInscrit.count == sortie.nbInscriptionsMax or sortie.etat.id == '3'%}
                        - <span id="sortieFermée">Fermée!</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
       </tbody>
   </table>
{% endblock %}
