{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
   <table>
       <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
       </thead>
       <tbody>
        {% for sortie in sorties %}
            {% set inscritBool = false %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date("d/m/y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription|date("Y-m-d") }}</td>
                <td>{{ sortie.participantInscrit.count }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% for inscrit in sortie.participantInscrit %}
                        {% if inscrit.username == app.user.username %}
                            X
                            {% set inscritBool = true %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ sortie.participantOrganisateur.username }}</td>
                <td>
                    {% if app.user.username == sortie.participantOrganisateur.username %}
                        <a href="#" title="Afficher sortie">Modifier</a>
                    {% else%}
                        <a href="#" title="Afficher sortie">Afficher</a> -

                        {% if inscritBool == true%}
                            <a href="#" title="Se desister sortie">Se désister</a>
                        {% else %}
                            <a href="{{ path('sortie_inscription', {'idSortie':sortie.id, 'idParticipant':app.user.id}) }}" title="S'incrire sortie">S'inscrire</a>
                        {% endif %}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
       </tbody>
   </table>
{% endblock %}
