{% extends 'base.html.twig' %}

{% block title %}
    Modifier une sortyie
{% endblock %}

{% block body %}
    <h1>Modifier une sortie</h1>
    <div>
        {{ form_start(sortieForm) }}
        <div >
            <div>
                {{ form_label(sortieForm.nom) }}
                {{ form_errors(sortieForm.nom) }}
                {{ form_widget(sortieForm.nom) }}
            </div>
            <div>
                {{ form_label(sortieForm.dateHeureDebut) }}
                {{ form_errors(sortieForm.dateHeureDebut) }}
                {{ form_widget(sortieForm.dateHeureDebut) }}
            </div>
            <div>
                {{ form_label(sortieForm.dateLimiteInscription) }}
                {{ form_errors(sortieForm.dateLimiteInscription) }}
                {{ form_widget(sortieForm.dateLimiteInscription) }}
            </div>
            <div>
                {{ form_label(sortieForm.nbInscriptionsMax) }}
                {{ form_errors(sortieForm.nbInscriptionsMax) }}
                {{ form_widget(sortieForm.nbInscriptionsMax) }}
            </div>
            <div>
                {{ form_label(sortieForm.duree) }}
                {{ form_errors(sortieForm.duree) }}
                {{ form_widget(sortieForm.duree) }}
            </div>
            <div>
                {{ form_label(sortieForm.infosSortie) }}
                {{ form_errors(sortieForm.infosSortie) }}
                {{ form_widget(sortieForm.infosSortie) }}
            </div>
            <div>
                {{ form_label(sortieForm.campusOrganisateur) }}
                {{ form_errors(sortieForm.campusOrganisateur) }}
                {{ form_widget(sortieForm.campusOrganisateur) }}
            </div>
            <div>
                {{ form_label(sortieForm.sortieLieu) }}
                {{ form_errors(sortieForm.sortieLieu) }}
                {{ form_widget(sortieForm.sortieLieu) }}
            </div>

            <div>
                * : Champs obligatoires
            </div>
            <div>
                {#  <a href="{{  }}">
                    <button type="submit" class="btn btn-primary" value="Create">Créer</button>
                </a>
                <a href="{{  }}">
                    <button type="submit" class="btn btn-success" value="Publish">Publier la sortie</button>
                </a>
                <a href="{{ path('create_sortieForm', 'sortieForm' }}">
                    <button type="reset" class="btn btn-primary" value="Cancel">Annuler</button>
                </a>#}


            </div>
            {{ form_end(sortieForm) }}
        </div>

    </div>
{% endblock %}



