
<div class="form-listSerie1">
    <h4>Filtrer les sorties</h4>
    {{ form_start(searchSortiesForm) }}

    {{ form_row(searchSortiesForm.choixCampus) }}

    {{ form_row(searchSortiesForm.filterNomSortie) }}

    {{ form_row(searchSortiesForm.filterDateMin) }}

    {{ form_row(searchSortiesForm.filterDateMax) }}
</div>
<div class="form-listSerie2">
    <div>{{ form_widget(searchSortiesForm.filterIsOrganisateur) }} {{ form_label(searchSortiesForm.filterIsOrganisateur) }}</div>
    <div>{{ form_widget(searchSortiesForm.filterIsInscris) }} {{ form_label(searchSortiesForm.filterIsInscris) }}</div>
    <div>{{ form_widget(searchSortiesForm.filterIsPasInscris) }} {{ form_label(searchSortiesForm.filterIsPasInscris) }}</div>
    <div>{{ form_widget(searchSortiesForm.filterSortiesPassees) }} {{ form_label(searchSortiesForm.filterSortiesPassees) }}</div>
</div>

<button type="submit" class="btn btn-lg btn-primary">Rechercher</button>
    {{ form_end(searchSortiesForm) }}
