<nav>
    <a href="{{ path('sortie_search') }}" title="Home">Home</a>


    {% if app.user %}
{#        <a href="{{ path('sortie_search') }}" title="Liste sorties">Liste des sorties</a>#}
        <a href="{{ path('participant_details', {'id':app.user.id})}}" title="">Détails profil</a>
        <a href="{{ path('app_logout') }}" title="Logout">Se déconnecter  ({{ app.user.username }})</a>

    {% else %}
        <a href="{{ path('app_login') }}" title="Login">Se connecter</a>
        <a href="{{ path('app_register') }}" title="Register">S'enregistrer</a>

    {% endif %}
</nav>