<nav>
    <a href="{{ path('main_home') }}" title="Home">Home</a>
    {% if app.user %}
        <a href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_register') }}" title="Register">S'enregistrer</a>
        <a href="{{ path('app_login') }}" title="Login">Se connecter</a>

    {% endif %}
    <a href="{{ asset('/Projet_Sortir.com/public/participant/details/1') }}" title="">Détails profil test (id=1)</a>
</nav>