<nav>
    {% if app.user %}
        {% if app.user.actif != false %}
             {% if is_granted("ROLE_ADMIN") %}
                 <a href="{{ path('admin_dashboard') }}" title="Dashboard">Dashboard</a>
             {% endif %}

             <a href="{{ path('sortie_search') }}" title="Liste sorties">Liste sorties</a>
             <a href="{{ path('participant_details', {'id':app.user.id})}}" title="">Mon profil</a>
             <a href="{{ path('create_sortieForm') }}" title="Créer une sortie sortie">Créer une nouvelle sortie</a>
             <a href="{{ path('app_logout') }}" title="Logout">Se déconnecter  ({{ app.user.username }})</a>

        {% else %}
            <a href="#" title="Contact">Contact ENI: contact.sortie@eni.fr | Telephone ENI: 0123456789</a>
            <a href="{{ path('app_logout') }}" title="Logout">Se déconnecter  ({{ app.user.username }})</a>
        {% endif %}

    {% else %}
        <a href="{{ path('app_login') }}" title="Login">Se connecter</a>
        <a href="{{ path('app_register') }}" title="Register">S'inscrire</a>
    {% endif %}
</nav>